body {
    font-family: arial;
    font-size: 1.0em;
}

ul[class="nav"]{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #1E90FF;
}

.nav > li {
    float: left;
}

.nav > li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-left: 0px !important;
}

.nav > li a:hover {
    background-color: #00BFFF;
}

input, select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #1E90FF;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    padding: 10px 24px;
    width: 8%;
    margin-left: 5px;
    margin-right: 5px;
}
button[type=submit]:hover{
    background-color: #00BFFF;
}
input[type=submit] {
    width: 10%;
    background-color: #1E90FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul[class="images"]{
    margin-left: 25% !important;

}

input:nth-of-type(1) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(2) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(3) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(4) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

input:nth-of-type(5) {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

#flash {
     font-family: arial;
     font-size: 1.0em;
     color: #DC143C;
}

#title {
     font-size: 2em;
     color: #000;
     margin: 0;
     font-family: Impact;
}
a {
    margin-left: 5px;
}
